html {
  font-size: 62.5%; }

a {
  text-decoration: none;
  color: #333; }
  a:hover, a:active {
    text-decoration: none;
    color: #333; }

* {
  box-sizing: border-box;
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei"; }

.header {
  max-width: 100%;
  text-align: center; }
  .header img {
    width: 50%; }

.login-main h1 {
  text-align: center; }

.login-main .login-box {
  width: 76%;
  margin-left: auto;
  margin-right: auto; }
