@import 'mixin.scss';
html {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #333;
    &:hover,
    &:active {
        text-decoration: none;
        color: #333;
    }
}

* {
    @include css3(box-sizing, border-box);
}