@import "./_mixin.scss";
html,
body {
    font-size: 62.5%;
}

a {
    text-decoration: none;
    color: #333;
    &:hover,
    &:active {
        text-decoration: none;
        color: #333;
    }
}

* {
    @include css3(box-sizing, border-box);
    font-family: Helvetica, Tahoma, Arial, "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei";
}

.title {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    height: rem(60);
    border-bottom: 1px solid #ddd;
    a {
  
        position: absolute;
        z-index: 11;
        margin-left: rem(10);
       
        font-size: rem(16);
    }
    h4 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        padding: 0;
        margin: 0;
        text-align: center;
        line-height: rem(60);
    }
}

.header {
    max-width: 100%;
    text-align: center;
    img {
        width: 50%;
    }
}